In [7]:
import pandas as pd
import math
import numpy as np

In [8]:
data = pd.read_csv('Student-University.csv',header=None)

In [9]:
data

            0          1  2
0   34.623660  78.024693  0
1   30.286711  43.894998  0
2   35.847409  72.902198  0
3   60.182599  86.308552  1
4   79.032736  75.344376  1
..        ...        ... ..
95  83.489163  48.380286  1
96  42.261701  87.103851  1
97  99.315009  68.775409  1
98  55.340018  64.931938  1
99  74.775893  89.529813  1

[100 rows x 3 columns]

In [10]:
def prob(y):
    return (1/(1+(math.e)**(-y)))

In [12]:
def calc_y(x1,x2,b0,b1,b2):
    return b0+(x1*b1)+(x2*b2)

In [15]:
def calc_b(b0,b1,b2,y,pred,alpha):
    b0=b0+(alpha*(y-pred)*pred*(1-pred)*1)
    b1=b1+(alpha*(y-pred)*pred*(1-pred)*1)
    b2=b2+(alpha*(y-pred)*pred*(1-pred)*1)
    return b0,b1,b2

In [24]:
b0=0
b1=0
b2=0
alpha=0.3
Y=data[2]
X1=data[0]
X2=data[1]